
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:ital,wght@0,100;1,100;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  min-width: 500px;
}

body a {
  text-decoration: none;
  color: #344563;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: space-around;
}

.header nav ul li {
  list-style: none;
  padding: 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #344563;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.logo-text {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  font-weight: 700;
}

.header-section {
  min-height: 100vh;
  background-image: url(images/Header\ bg@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 20px;
  max-width: 100vw;
}

.about-section {
  height: 100vh;
  margin: auto;
  width: 90%;
  margin-top: 15%;
  margin-right: 40px;
}

.about-content {
  width: 100%;
}

.about-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  text-align: left;
  vertical-align: center;
  color: #091e42;
  width: 35%;
}

.about-content p {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #344563;
  line-height: 28px;
  vertical-align: top;
  width: 73%;
}

.about-content h4 {
  color: #7f8cff;
  line-height: 24px;
  font-size: 16px;
  margin: 10px 10px 10px 0;
}

.about-content-list {
  display: flex;
  list-style-type: none;
  color: #6070ff;
  align-self: flex-start;
  width: 20%;
  text-align: left;
}

.about-content .about-content-list li {
  border-radius: 12%;
  text-align: center;
  padding: 10px;
}

.about-content .about-content-list a {
  color: #505f79;
}

.big-button {
  padding: 10px;
  border-radius: 8px;
  color: #396df2;
  text-align: center;
  background-color: #fff;
  border: 1px solid #6070ff;
  font-weight: bolder;
  margin-left: 15px;
  margin-bottom: -20px;
  font-size: 17px;
  letter-spacing: 3%;
  display: block;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: -15px;
  transition-property: background-color color;
  transition-delay: 0.4s;
}

.big-button:hover {
  background-color: #396df2;
  color: #cfd8dc;
}

/* work section */
.work-section {
  width: 80%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 10%;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
  align-items: center;

  /* flex-wrap: wrap; */

  /* margin-bottom: 30px; */
}

.col-1 img {
  width: 100%;
  transition: transform;
}

.col-1 img:hover {
  transform: scale(0.7);
}

.col-2 h2 {
  color: #091e42;
}

.col-2 {
  height: 60vh;
  width: 100%;
  flex-basis: 45%;
  min-width: 400px;
  margin: 2%;
  padding: 15px;
}

.row .list-container-1 img {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 3px;
  transition: transform;
}

.list-container-1 img:hover {
  transform: scale(0.7);
}

.list-container-1 {
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
  text-align: left;
}

.col-2 .list-container-1 li {
  border-radius: 12%;
  padding: 7px;
  text-align: center;
  margin: 10px;
  width: 10%;
  width: fit-content;
}

.col-2 .list-container-2 ul {
  display: flex;
  list-style-type: none;
  color: #6070ff;
  margin-bottom: 10px;
  text-align: left;
}

.col-2 .list-container-2 ul li {
  background-color: #ebebff;
  border-radius: 12%;
  padding: 7px;
  text-align: center;
  margin: 10px;
  width: 10%;
  width: fit-content;
  color: #6070ff;
  margin-bottom: 10px;
}

.canopy {
  color: #344563;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -100px;
}

/* Show case */
.container {
  width: 90vw;
  margin: auto;
}

.col-2-1 {
  flex-basis: 45%;
  min-width: 400px;
  margin-bottom: 120px;
  padding: 15px;
}

.row .col-2 img {
  width: 100%;
  transition: transform;
}

.col-2 img:hover {
  transform: scale(0.7);
}

.col-2 .list-container-1 img {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 3px;
  transition: transform;
  transform: scale(0.7);
}

.col-2 .list-container-1 img:hover {
  transform: scale(0.7);
}

.col-2-1 p {
  width: 73%;
}

.col-2 .list-container-1 ul li {
  padding-right: 10px;
  text-align: center;
  margin: 10px;
}

/* Contact */
.contact {
  background-image: url(images/contact\ form-\ background-shape-desktop.svg);
  background-repeat: no-repeat;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

textarea {
  width: 447px;
  height: 170px;
  color: #cfd8dc;
}

input {
  display: flex;
  margin: 20px;
  width: 447px;
  height: 48px;
  flex-wrap: wrap;
}

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10%;
  height: 400px;
}

.container-contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 40%;
  vertical-align: top;
}

.container-contact h2 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: center;
  color: #fff;
  margin-top: 15%;
}

/* About my self */
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-myself .about-col-1 .wrapper img {
  margin: 10px;
  transition: transform;
}

.about-col-1 .wrapper img:hover {
  transform: scale(0.7);
}

.about-myself p {
  width: 327px;
  margin: 10px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #344563;
}

.about-myself .about-col-1 ul {
  padding: 10px;
  color: #505f79;
  width: 60%;
  display: flex;
  list-style-type: none;
}

.about-myself .about-col-1 ul li a {
  color: #505f79;
  text-decoration: none;
  font-size: 19px;
}

.about-myself .about-col-1 ul li {
  padding: 5px;
  margin-right: 10px;
}

.down-arrow {
  display: flex;
  justify-content: space-between;
}

.down-arrow i {
  color: #505f79;
  margin-left: 100px;
  display: flex;
}

.space {
  margin-bottom: 30px;
}

.margin {
  margin: 1%;
}

#text-color {
  color: #396df2;
  margin: 10px;
}

.below-button {
  width: 40%;
}

.below-button:hover {
  background-color: #6070ff;
  color: white;
}

.alignment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* New about my self */
.about-col-2 {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-myself {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.about-myself h1 {
  color: #091e42;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  vertical-align: center;
  width: 20%;
  margin: 10px;
}

.big-button-2:hover {
  background-color: #6070ff;
  color: white;
}


/* Media queris */
@media only screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .col-1 img {
    width: 100%;
  }

  .big-button-2:hover {
    background-color: #6070ff;
    color: white;
  }

  .about-myself h1 {
    color: #091e42;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    vertical-align: center;
    width: 20%;
    margin: 10px;
  }
}


/* Humburger menu */

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:60px
}


.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  
}


.nav-branding{
  font-size: 1.5rem;
}

.nav-link{
  transition: 0.8s ease;
}



.hamburger-btn{
  display: none;


}


.bar{
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: ll 0.3s ease-in-out;
  background-color:#6070ff;
  width: 30px;
  height: 4px;
}

@media(max-width:768px){
  .hamburger-btn{
      display: block;
  }
  .hamburger-btn.active .bar:nth-child(2) {
      opacity: 0;
      
    }
  
    .hamburger-btn.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
     
    }
    .hamburger-btn.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
     
    }
    

    .nav-menu{
      
      height: 100vh;
      position: fixed;
      top: 0;
      left: -120%;
      gap: 5px;
      justify-content: center;
      padding: 10% 5% 50% 2%;
      width: 100vw;
      transition: 0.7s ease-out;
      flex-direction: column;
      background: #ffffff;
      
     
    }

    .nav-list .nav-link{
      color: #344563;
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
    }

    .nav-menu .nav-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 70px;

      color: #396df2;
      
    }
    

    .nav-list{
    display: flex;
    
    }
    .nav-menu.active{
      left: 0;
    }
}
=======
/* Animations */

